<!DOCTYPE HTML>
<html>
	<head>
		<title>The Casket</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" >
		<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" >
	</head>
	<body>

			<header id="header">
				<div class="inner">
					<a href="index.html" class="logo">
					<nav id="nav">
						<a href="/login">Login/Register</a>						
					</nav>
					<a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
				</div>
			</header>

		
			<section id="banner" style="background-image: url({{ url_for('static', filename='images/bg.jpg') }});">
				<div class="inner">
					<header>
						<h1>Welcome !!</h1>
					</header>

					<h3 style="color:white;">Here in The Casket, we let you store files in a secure way.</h3>
					<footer>
						<b><a href="/register" class="button"  style="background-color:black;">Get Started</a></b>
					</footer>
				</div>
			</section>



		
			<footer id="footer" style="background-color: black;">
				<div class="inner">

					<h3>Any suggestions?</h3>
					<h3 style="color: red;">{{ Sentence }}</h3>
					<form action="/comments" enctype="multipart/form-data" method="post">

						<div class="field half first" >
							<label for="name" >Name</label>
							<input name="name" id="name" type="text" placeholder="Name" style="background-color: gray;">
						</div>
						<div class="field half">
							<label for="email">Email</label>
							<input name="email" id="email" type="email" placeholder="Email" style="background-color: gray;">
						</div>
						<div class="field">
							<label for="message">Message</label>
							<textarea name="message" id="message" rows="6" placeholder="Message" style="background-color: gray;"></textarea>
						</div>
						<ul class="actions">
							<li><input value="Send Message" class="button alt" type="submit"></li>
						</ul>
					</form>

				</div>
			</footer>
			
			<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
			<script src="{{ url_for('static', filename='js/skel.min.js') }}"></script>
			<script src="{{ url_for('static', filename='js/util.js') }}"></script>
			<script src="{{ url_for('static', filename='js/main.js') }}"></script>

	</body>
</html>