<!DOCTYPE HTML>
<html>
	<head>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
		integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
		<title>Nick Watson</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" >
	<!--	<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" > -->
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
	integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
	integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
	</head>
	<style>
			body{
				background-image: linear-gradient(to bottom right, #78ebf4, #fff);
			}
			#main{
				background-color: #FFF;
				border-radius: 15px;
			}
			img{
				border-radius: 15px;
			}
			h1{
				color: #343a40;
				font-weight: 500;
			}
			.side{
				font-weight: bold;
				color: #343a40;
			}
			p{
				font-weight: 200;
			}
			a{
				color: #fff;
			}
			a:hover{
				text-decoration: none;
				font-weight: 700;
				color: #FFF;
			}
	</style>
	<body>
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
			<div class="navbar-brand">Tutor In Town</div>
			<ul class="nav ml-auto">
				<li class="nav-item">
					<a class="nav-link" href="/main">Home</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/logout">Logout</a>
				</li>
			</ul>
		</nav>
			<div class="container" style="padding: 3%; padding-bottom: 15%;">
				<div id="main">
				<div class="row" style="padding: 3%;">
					<div class="col-lg-6 col-md-6 border-right col-sm-12"  style="padding: 3%;">
						<img src="https://th.bing.com/th/id/OIP.Po9dhsPThMg_D2j5q-PPFAHaFE?w=261&h=180&c=7&o=5&pid=1.7" class="img-responsive">
					</div>
				<div class="col-lg-6 col-md-6 col-sm-12" style="padding-left: 2%; padding:3%;">
				<div class="container" style="padding: 3%">
				<h1>{{user}}</h1>
				<p><span class="side">Email:</span> {{mail}}</p>
				<p><span class="side">Mobile:</span> {{pno}}</p>
			</div>
			<div class="container" style="padding: 3%">
				<p><span class="side">Language:</span> {{lang}}</p>
				<p><span class="side">Subjects:</span> {{sub}}</p>
				<p><span class="side">Location:</span> {{loc}}</p>
			</div>
		</div>
			</div>
		</div>
	</div>



			<!--<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
			<script src="{{ url_for('static', filename='js/skel.min.js') }}"></script>
			<script src="{{ url_for('static', filename='js/util.js') }}"></script>
			<script src="{{ url_for('static', filename='js/main.js') }}"></script>-->

	</body>
</html>
